/* CSS Variables */

:root{
    --primary:rgb(192,192,192);
    --dark:rgb(0,0,0);
    --light:rgb(255,255,255);
    --shadow:0 1px 5px rgba(104,104,104,0.9);
}

/* Basic CSS */

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--dark);
}

body{
    background:rgb(204,204,204);
    margin: 40px 60px;
    line-height: 1.4;
}

.btn{
    background: var(--dark);
    color:var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border:0;
}

.btn:hover{
    background: var(--light);
    color:var(--dark);
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}

/* Navigation Bar */

.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding:0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}

.main-nav a{
    display:block;
    background: var(--primary);
    color: var(--dark);
    text-decoration: none;
    padding:0.8em;
    text-align: center;
    box-shadow: var(--shadow);
}

.main-nav a:hover{
    background: var(--dark);
    color: var(--light);
}

/* Top Container */

 .top-container{
    display:grid;
    grid-gap: 20px;
    grid-template-areas:
      'showcase showcase top-box-1'
      'showcase showcase top-box-2'
      'showcase showcase top-box-3'
      'showcase showcase top-box-4'
}

/* Showcase */

.showcase{
    grid-area:showcase;
    min-height:200px;
    background: url(img/pexels-photo.jpg);
    background-size:cover;
    background-position:center;
    color: var(--light);
    padding:40px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1{
    font-size: 65px;
    margin-bottom:0;
}

.showcase p{
    font-size: 25px;
    margin-top:0;
}

/*  Top Box */

.top-box{
    background: var(--primary);
    display:grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 24px;
}
.top-box-1 {
    grid-area: top-box-1;
}
.top-box-2 {
    grid-area: top-box-2;
}
.top-box-3 {
    grid-area: top-box-3;
}
.top-box-4 {
    grid-area: top-box-4;
}

.top-box .btn{
    background:rgb(255,128,0);
}

.top-box .price{
    font-size: 40px;
}

/* Boxes */

boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
}

.box{
    background:var(--primary);
    text-align:center;
    padding: 24px 40px;
    box-shadow: var(--shadow);
}

/* Info */

info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display:grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding:50px;

}

/* Portfolio */

portfolio {
    display:grid;
    grid-gap:20;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
}
portfolio img{
    width:100%;
    box-shadow: var(--shadow);
    margin:10px;
}


/* About page */

main{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    background: var(--primary);
   
   
}

.about{
    align-items: center;
    box-shadow: var(--shadow);
    text-align:center;
}

/* Contact page */

contact{
    background: url(img/earth-map-summer-july-87652.jpeg);
    background-size:cover;
    background-position:center;
    color: var(--light);
    padding:40px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    
}

contact h1{
    font-size:50px;
    margin:30px;
}

contact p{
    font-size:35px;
  
}

   


/* Footer */

footer {
    margin: 0;
    background: var(--dark);
    color: var(--light);
    width:98%;
    text-align: center;
    padding: 16px;
    
}

/* Media Queries */

@media(max-width:800px){
    .top-container{
        grid-template-areas:
            'showcase showcase'
            'top-box-1 top-box-2'
            'top-box-3 top-box-4';
    }
    .showcase h1{
        font-size:40px;
    }
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    info {
        grid-template-columns: 1fr;
    }

    info .btn{
        display: block;
        text-align:center;
    }

    main{
        grid-template-columns: 1fr;
    }

    contact{
        background-position: left;
    }

    contact h1{
        font-size: 20px;
    }

    contact p{
        font-size: 15px;
    }
}

@media(max-width:600px){
    .top-container{
        grid-template-areas:
            'showcase'
            'top-box-1'
            'top-box-2'
            'top-box-3'
            'top-box-4';
    }
    contact h1{
        font-size: 15px;
    }

    contact p{
        font-size: 10px;
    }
  
}